{* $Id$ *}
{* params:
 *	autoloaddelay in seconds (default = 1, -1 = off)
 *
 *}
{strip}
	{if !isset($tpl_module_title)}
		{if $nonums eq 'y'}
		{else}
			{eval var="{tr}Webmail inbox{/tr}" assign="tpl_module_title"}
		{/if}
	{/if}
	{tikimodule error=$module_params.error title=$tpl_module_title name="webmail_inbox" flip=$module_params.flip decorations=$module_params.decorations nobox=$module_params.nobox notitle=$module_params.notitle}
		{if $prefs.feature_webmail eq 'y'}
			<form action="javascript:void(null);" onsubmit="return submitWebmail();" name="webmail_form">
				<div class="mod_webmail_heading">
					<div class="float-sm-right">
						{*icon _id='resultset_first' class=''*}
						{if isset($prevstart) and $prevstart}
							<a href="#" onclick="doRefreshWebmail({$prevstart});return false;">{icon name='caret-left'}</a>
						{/if}
						{if isset($nextstart) and $nextstart}
							<a href="#" onclick="doRefreshWebmail({$nextstart});return false;">{icon name='caret-right'}</a>
						{/if}
						{*icon _id='resultset_last' class=''*}
					</div>
					{if $prefs.feature_ajax}
						<a title="{tr}Refresh{/tr}" onclick="doRefreshWebmail(0, true);return false;">
							{icon name='refresh' iclass='webmail_refresh_icon icon'}
							{icon name='index' iclass='webmail_refresh_busy icon' istyle='display:none'}
						</a>
						&nbsp;<span class='webmail_refresh_message' style='display:none'></span>
					{else}
						<a title=":{tr}Refresh (non-ajax){/tr}" href="{$request_uri}refresh_mail=1" class="tips">{icon name='refresh'}</a>
					{/if}
				</div>
				<div class="webmail_list">
					{if isset($error)}<span class="alert-warning">{$error}</span>{/if}
					{if isset($module_params.date_format)}
						{assign var=date_format value=$module_params.date_format}
					{else}
						{assign var=date_format value=$prefs.short_date_format|cat:' '|cat:$prefs.short_time_format}
					{/if}
					{section name=ix loop=$webmail_list}
						{assign var='date_value' value=$webmail_list[ix].timestamp|tiki_date_format:$date_format}
						{assign var='date_short' value=$webmail_list[ix].timestamp|tiki_date_format:"%H:%M"}
						{assign var='subject' value=$webmail_list[ix].subject}
						{assign var='sender' value=$webmail_list[ix].sender}
						{assign var='class' value="webmail_item"}
						{if $webmail_list[ix].isRead eq 'y'}{assign var=class value="$class webmail_read text-muted"}{/if}
						{if $webmail_list[ix].isFlagged eq 'y'}{assign var=class value="$class webmail_flagged"}{/if}
						{if $webmail_list[ix].isReplied eq 'y'}{assign var=class value="$class webmail_replied"}{/if}
						<div class="{cycle values='odd,'} {$class}">
							{if $module_params.mode eq 'webmail' or $module_params.mode eq ''}
								{if $nonums != 'n'}
									<span class="mod_numbers">{$smarty.section.ix.index_next})</span>&nbsp;
								{/if}
								<a class="linkmodule tips webmail_subject" href="tiki-webmail.php?locSection=read&amp;msgid={$webmail_list[ix].msgid}"
										title="{$subject}:{tr}From:{/tr} <em>{$sender.name}</em> <tt>&amp;lt;{$sender.email}&amp;gt;</tt>|({$date_value})">
									{if $maxlen > 0}{* default value for maxlen param eq 26 *}
										{$subject|truncate:$maxlen:"...":true}
									{else}
										{$subject}
									{/if}
								</a>
							{elseif $module_params.mode eq 'groupmail'}
								<span class="mod_webmail_date tips" title="|{$date_value}">{$date_short}</span>&nbsp;
{*								<pre>{$webmail_list[ix]|var_dump}</pre>*}
								{if not empty($webmail_list[ix].operator)}
									{if $webmail_list[ix].operator eq $user}
										<a class="btn btn-outline-secondary btn-sm tips mod_webmail_action webmail_taken" title="|{tr}Put this item back{/tr}" onclick="doPutBackWebmail({$webmail_list[ix].msgid}); return false;" href="#">
											{$webmail_list[ix].operator}
										</a>
										&nbsp
									{else}
										<span class="btn btn-outline-secondary btn-sm tips mod_webmail_action webmail_taken" title="|{tr _0=$webmail_list[ix].operator}Taken by %0{/tr}">
											{$webmail_list[ix].operator}
										</span>&nbsp;
									{/if}
								{else}
									<a class="btn btn-outline-secondary btn-sm tips mod_webmail_action" title="|{tr}Take this email{/tr}" onclick="doTakeWebmail({$webmail_list[ix].msgid}); return false;" href="#">{tr}TAKE{/tr}</a>
									&nbsp;
								{/if}
								{if $sender.contactId gt 0}
									{if !empty($sender.wikiPage)}
										{self_link _script=$sender.wikiPage|sefurl _class="mod_webmail_from"}{$sender.email|truncate:17:"...":true}{/self_link}
									{else}
										{self_link _script='tiki-contacts.php' contactId=$sender.contactId _class="mod_webmail_from"}{$sender.email|truncate:17:"...":true}{/self_link}
									{/if}
									<div style="float: right;">{self_link _script='tiki-contacts.php' contactId=$sender.contactId _icon_name='user' _width=12 _height=12}{tr}View contact{/tr}{/self_link}</div>
								{else}
									<span class="mod_webmail_from">{$sender.email|truncate:20:"...":true}</span>
								{/if}
								{capture assign=tit}{strip}
									<strong>{tr}Message details{/tr}</strong>:<b>{tr}Subject:{/tr}</b> {$subject|escape}<br><b>{tr}From:{/tr}</b> <em>{$sender.name|escape}</em> <tt>&amp;lt;{$sender.email}&amp;gt;</tt><br><small>[{$date_value}]</small>
								{/strip}{/capture}
								{self_link _script='tiki-webmail.php' msgid=$webmail_list[ix].msgid locSection='read' _noauto='y' _class='clearfix linkmodule tips webmail_subject' _title=$tit}
									{if $maxlen > 0}{* default value for maxlen param eq 26 *}
										{$subject|truncate:$maxlen:"...":true}
									{else}
										{$subject}
									{/if}
								{/self_link}
								{* self_link fails here because PHP_SELF is tiki-webmail_ajax.php, self_link needs to know the "real" page URL somehow *}
							{/if}
						</div>
					{sectionelse}
						{section name=foo loop=10}{* dummy loop to keep module height (approx) *}
							<div class="webmail_item_empty">
								&nbsp;<br>
								&nbsp;<br>
							</div>
						{/section}
					{/section}
				</div>
			</form>
		{else}
			<span class="alert-warning">{$error}</span>
		{/if}
	{/tikimodule}
{/strip}
